h2.title{
	color: white;
	text-align: center;}
div.row{
	background-color:rgb(52, 73, 94);}
div.frame{
	width:1.06in;
	height:1.06in;}

#bracelete{
	left:4in;
  top:4in;
	width: 1.10in;
	height:1.11in;
	position: absolute;

}
#layout_baixo{
	z-index: -1;
	position: absolute;
}
.right{
  width:0.2in;
  height:0.8in;
  top: 0.2in; 

}

#carousel-example-generic{


}
.left{

	left: 0.04in;
  width:0.3in;
  height:0.8in;
  top: 0.15in;
}

.right{
	right:2in;
  width:0.3in;
  height:0.8in;
  top: 0.15in;
}
.carousel-inner{
	top:0.08in;
	left:0.07in;
}
.carousel-indicators{
	left:0.55in;
	top:0.75in;
}


#Menu_NFC{
	right:0.1in;
}
