div.header{
	background-color:rgb(52, 73, 94);}
h2.title{
	color: white;
	text-align: center;}
div.content{
	background-color: rgb(52, 73, 94);;}
div.dashboard{
	padding: 4px 3px 3px 8px;
	background-color: rgb(41, 128, 185);}
h3.dashboard{
	color: white;
	text-align: center;}
div.framee{
	padding: 2px;}
h3.framee{
	color: white;
	text-align: center;}
button{
	margin-left: 5px;
	margin-right: 5px; 
	background-color: white;
	text-align: center;
	width: 100px;
}
.brace{
	position: absolute;
	top:2in;
	left: 2in;
	width: 2.83in;
	height: 2.8in;
	z-index: 0;
}
#bracelete{
	position: absolute;
	width: 100%;
	height: 100%;
	margin:auto;
	display:block;
}
.screen{
	position: absolute;
	top:0.52in;
	left:0.56in; 
	width: 1.55in;
	height: 1.55in;
	

}
#boxe{
	position: absolute;
	width: 100%;
	height: 100%;
	margin:auto;
	display:block;
	z-index: 1;
}
#imgProfile{
	position: absolute;
	top:0.26in;
	left:0.38in;
	width: 0.8in;
	height:0.8in;
	margin:auto;
	display:block;
	z-index: 2;

	
}
#holograma{
	top:0.26in;
	left:0.38in;
	visibility: hidden;
	position: absolute;
	width: 0.8in;
	height:0.8in;
	z-index: 2;
}

#arrow_right{
	top:0.55in;
	left:1.16in;
	position: absolute;
	width:0.2in;
	height:0.3in;
	z-index: 2;
}
#arrow_left{
	top:0.55in;
	left:0.2in;
	position: absolute;
	width:0.2in;
	height:0.3in;
	z-index: 2;
}
#state1{
	top:1.04in;
	left:0.65in;
	position: absolute;
	width:0.28in;
	height:0.16in;
	z-index: 2;
}
#state2{
	top:1.04in;
	left:0.65in;
	position: absolute;
	width:0.28in;
	height:0.16in;
	visibility: hidden;
	z-index: 2;
}
#pay{
	visibility: hidden;
}
#edit{
	visibility: hidden;
}
#Saldo_inicial{
	visibility: hidden;
}

#fingerprint{
	visibility: hidden;
}
#sucesso{
	visibility: hidden;
}	
#Ok{
	visibility: hidden;
}
