div.header{
	background-color:rgb(52, 73, 94);}
h2.title{
	color: white;
	text-align: center;}
div.content{
	background-color: rgb(52, 73, 94);;}
div.dashboard{
	height: 57%;
	padding: 4px 3px 3px 8px;
	background-color: rgb(41, 128, 185);}
h3.dashboard{
	color: white;
	text-align: center;}
div.framee{
	height: 57%;
	padding: 2px;}
h3.framee{
	color: white;
	text-align: center;}
button{
	margin-top: 20%;
	margin-left: 40%;
	background-color: white;
	text-align: center;
	width: 100px;
}

.brace{
	position: absolute;
	top:0.8in;
	left: 1.1in;
	width: 2.83in;
	height: 2.8in;
	z-index: 0;
	background-color: white;
}
#bracelete{
	position: absolute;
	width: 100%;
	height: 100%;
	margin:auto;
	display:block;
	background-color: white;
}
.screen{
	position: absolute;
	top:0.52in;
	left:0.56in; 
	width: 1.55in;
	height: 1.55in;
	

}
#boxe{
	position: absolute;
	width: 100%;
	height: 100%;
	margin:auto;
	display:block;
	z-index: 1;
}
#imgProfile{
	position: absolute;
	top:0.26in;
	left:0.38in;
	width: 0.8in;
	height:0.8in;
	margin:auto;
	display:block;
	z-index: 2;

	
}
#holograma{
	top:0.26in;
	left:0.38in;
	visibility: hidden;
	position: absolute;
	width: 0.8in;
	height:0.8in;
	z-index: 2;
}

#arrow_right{
	top:0.55in;
	left:1.16in;
	position: absolute;
	width:0.2in;
	height:0.3in;
	z-index: 2;
}
#arrow_left{
	top:0.55in;
	left:0.2in;
	position: absolute;
	width:0.2in;
	height:0.3in;
	z-index: 2;
}
#state1{
	top:1.04in;
	left:0.65in;
	position: absolute;
	width:0.28in;
	height:0.16in;
	z-index: 2;
}
#state2{
	top:1.04in;
	left:0.65in;
	position: absolute;
	width:0.28in;
	height:0.16in;
	visibility: hidden;
	z-index: 2;
}
/***************BOTOES************************/

#bot_back{
	top:1.3in;
	left:0.3in;
	position: absolute;
	width:0.13in;
	height:0.13in;
	z-index: 4;
	opacity:1; 
}
#bot_home{
	top:1.3in;
	left:0.7in;
	position: absolute;
	width:0.13in;
	height:0.13in;
	z-index: 4;
	opacity:1; 
}
#bot_help{
	top:1.3in;
	left:1.1in;
	position: absolute;
	width:0.13in;
	height:0.13in;
	z-index: 4;
	opacity:1; 
}

/***************MENU NFC**********************/
#auth_text{
	position: absolute;
	top:0.29in;
	left:0.32in;
	font-family:Raleway, sans-serif;
	visibility: hidden;
	z-index: 2;
}
#fingerprint{
	position: absolute;
	top:0.5in;
	left:0.43in;
	visibility: hidden;
	width: 0.7in;
	height: 0.7in;
	z-index: 2;
}

/**********************************************/
#sensor_text{
	position: absolute;
	top:0.29in;
	left:0.23in;
	font-family:Raleway, sans-serif;
	font-size:12; 
	visibility: hidden;
	z-index: 2;
}

#loading{
	position: absolute;
	top:-0.19in;
	left:-0.23in;
	visibility: hidden;
	width: 2in;
	height: 2in;
	z-index: 2;
}
#photoholder {
	position: absolute;
	top:0in;
	left:4in;

  background:#fff url('/images/loading.gif') 50% 50% no-repeat;
}
#thephoto {
	position: absolute;
	top:0in;
	left:4in;
  visibility: hidden;

}

#uno{
	position: absolute;
	left:4.2in;
	visibility: hidden;
	height:2in; 
	top:1.9in;
}
#dos{
	position: absolute;	
	left :5.2in;
	visibility: hidden;
	height:3in;
	top:1.4in; 
}
#tres{
	position: absolute;
	left :6.2in;
	visibility: hidden;
	height:4in;
	top:0.9in;
}
#quat{
	position: absolute;
	left :6.8in;
	visibility: hidden;
	height: 5in;
	top:0.5in;
}

/*menu de sucesso*/
#sucesso_text{
	position: absolute;
	visibility: hidden;
	z-index: 2;
	font-family:Raleway, sans-serif;
	top:0.29in;
	left:0.48in;
}

#cartao{
		position: absolute;
	visibility: hidden;
	z-index: 2;
	top:0.5in;
	left:0.45in;
	height:0.5in;
	width:0.7in ;
}
#certo{	/*/////////////////////////////FALTA ESTE BOTAO///////////////////////*/
	position: absolute;
	visibility: hidden;
	z-index: 2;
	top:1in;
	left:0.7in;
	height:0.2in;
	width:0.25in ;

}

/*HOLOGRAMA*/

#cartaz1{
	position: absolute;
	visibility: hidden;
	z-index: 2;
	width:0.58in;
	height: 0.45in;
	top:0.3in;
	left:0.18in;
	border:solid black 0.01in;



}
#cartaz2{
	position: absolute;
	visibility: hidden;
	z-index: 2;
	width:0.58in;
	height:0.45in;
	top:0.3in;
	left:0.8in;
	border:solid black 0.01in;


}
#cartaz3{
	position: absolute;
	visibility: hidden;
	z-index: 2;
	width: 0.58in;
	height:0.45in;
	top:0.76in;
	left:0.18in;
	border:solid black 0.01in;


}
#cartaz4{
	position: absolute;
	visibility: hidden;
	z-index: 2;
	width: 0.58in;
	height: 0.45in;
	top:0.76in;
	left:0.8in;
	border:solid black 0.01in;


}
#cartaz1_alt{
	position: absolute;
	visibility: hidden;
	z-index: 3;
	width: 0.9in;
	height: 0.7in;
	top:0.3in;
	left:0.35in;
	border:solid black 0.01in;
}
#cartaz2_alt{
	position: absolute;
	visibility: hidden;
	z-index: 3;
	width: 0.9in;
	height: 0.7in;
	top:0.3in;
	left:0.35in;	
	border:solid black 0.01in;

}
#cartaz3_alt{
	position: absolute;
	visibility: hidden;
	z-index: 3;
	width: 0.9in;
	height: 0.7in;
	top:0.3in;
	left:0.35in;	
	border:solid black 0.01in;
}
#cartaz4_alt{
	position: absolute;
	visibility: hidden;
	z-index: 3;
	width: 0.9in;
	height: 0.7in;
	top:0.3in;
	left:0.35in;	
	border:solid black 0.01in;
}


#feixe{
	visibility: hidden;
}
/*METE AQUI O ESTILO DOS CARTAZES GRANDES*/
#cartaz1_grande{
	visibility: hidden;
}

#cartaz2_grande{
	visibility: hidden;
}
#cartaz3_grande{
	visibility: hidden;
}
#cartaz4_grande{
	visibility: hidden;
}
/********************************************************/

#start {
  background: #939596;
  background-image: -webkit-linear-gradient(top, #939596, #676869);
  background-image: -moz-linear-gradient(top, #939596, #676869);
  background-image: -ms-linear-gradient(top, #939596, #676869);
  background-image: -o-linear-gradient(top, #939596, #676869);
  background-image: linear-gradient(to bottom, #939596, #676869);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;

  text-decoration: none;
  position: absolute;
  visibility: hidden;
  z-index: 2;
	width: 0.5in;
	height: 0.2in;
	top:1.02in;
	left: 0.55in;
	font-size:12;
	font-family:Raleway, sans-serif;
	vertical-align: center;
	text-align: center;;

}

#start:hover {
  background: #a0a2a3;
  background-image: -webkit-linear-gradient(top, #a0a2a3, #737475);
  background-image: -moz-linear-gradient(top, #a0a2a3, #737475);
  background-image: -ms-linear-gradient(top, #a0a2a3, #737475);
  background-image: -o-linear-gradient(top, #a0a2a3, #737475);
  background-image: linear-gradient(to bottom, #a0a2a3, #737475);
  text-decoration: none;
    position: absolute;
  visibility: hidden;
  z-index: 2;
	width: 0.5in;
	height: 0.2in;
	top:1.02in;
	left: 0.55in;
	font-size:12;
	font-family:Raleway, sans-serif;
	vertical-align: center;
}

#parar {
  background: #939596;
  background-image: -webkit-linear-gradient(top, #939596, #676869);
  background-image: -moz-linear-gradient(top, #939596, #676869);
  background-image: -ms-linear-gradient(top, #939596, #676869);
  background-image: -o-linear-gradient(top, #939596, #676869);
  background-image: linear-gradient(to bottom, #939596, #676869);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;

  text-decoration: none;
  position: absolute;
  visibility: hidden;
  z-index: 2;
	width: 0.5in;
	height: 0.2in;
	top:1.02in;
	left: 0.55in;
	font-size:12;
	font-family:Raleway, sans-serif;
	vertical-align: center;
	text-align: center;;

}

#parar:hover {
  background: #a0a2a3;
  background-image: -webkit-linear-gradient(top, #a0a2a3, #737475);
  background-image: -moz-linear-gradient(top, #a0a2a3, #737475);
  background-image: -ms-linear-gradient(top, #a0a2a3, #737475);
  background-image: -o-linear-gradient(top, #a0a2a3, #737475);
  background-image: linear-gradient(to bottom, #a0a2a3, #737475);
  text-decoration: none;
    position: absolute;
  visibility: hidden;
  z-index: 2;
	width: 0.5in;
	height: 0.2in;
	top:1.02in;
	left: 0.55in;
	font-size:12;
	font-family:Raleway, sans-serif;
	vertical-align: center;
}

/****** 	HELP SCREENS   *******/
.help{
	position: absolute;
	top:0.29in;
	left:0.23in;
	font-family:Raleway, sans-serif;
	font-size:12; 
	visibility: hidden;
	z-index: 0;

}
